<%= render partial: 'contour/layouts/per_page', locals: { type: 'assignments', per_page: 20, object_count: @assignments.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.list_name', 'List Name', 'assignments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.position', 'Treatment Position', 'assignments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.treatment_arm', 'Treatment Arm', 'assignments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.subject_code', 'Subject Code', 'assignments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.randomized_at', 'Randomized At', 'assignments_search') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.user_id', 'Randomized By', 'assignments_search') %></th>
      <th>Actions</th>
    </tr>
  </thead>

  <% @assignments.each do |assignment| %>
    <tr id="assignment_<%= assignment.id %>">
      <%= render partial: 'assignments/row', locals: { assignment: assignment } %>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @assignments, theme: 'contour' %></div>
