<% @title = @assignment.list_name %>
<div class="page-header">
  <h1>
    <%= link_to 'Projects', projects_path %> &middot; <%= link_to @project.name, @project %> &middot;
    <% if @project.editable_by?(current_user) %>
      <%= link_to 'Assignments', project_assignments_path(@project) %>
    <% else %>
      <%= link_to 'Randomizations', randomizations_project_path(@project) %>
    <% end %>
    &middot; <%= @title %>
  </h1>
  <%#= link_to "Edit Assignment", edit_project_assignment_path(@project, @assignment), class: 'btn btn-xs btn-default' %>
  <%#= link_to "Delete Assignment", [@project, @assignment], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Assignment #{@assignment.list_name}?" } %>
  <% if @project.editable_by?(current_user) %>
    <%= link_to "Undo Randomization", [@project, @assignment], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove subject from Assignment #{@assignment.list_name}?" } unless @assignment.subject_code.blank? %>
  <% end %>
</div>

<% if @assignment.subject_code and @assignment.user %>
  <div class="jumbotron">
    <div class="container">
      <h1><%= @assignment.treatment_arm %></h1>
      <p><b><%= @assignment.subject_code %></b> randomized <%= simple_time @assignment.randomized_at %> by <%= @assignment.user.name %> </p>
    </div>
  </div>
<% end %>

<dl class="dl-horizontal">
  <dt>Subject Code</dt>
  <dd><%= @assignment.subject_code %></dd>

  <dt>Randomized At</dt>
  <dd><%= simple_time @assignment.randomized_at %></dd>

  <dt>Randomized By</dt>
  <dd><%= link_to @assignment.user.name, @assignment.user if @assignment.user %></dd>

  <dt>Treatment Arm</dt>
  <dd><%= @assignment.treatment_arm %></dd>

  <dt>Treatment Position</dt>
  <dd><%= @assignment.position %></dd>

  <dt>List Name</dt>
  <dd><%= @assignment.list_name %></dd>

</dl>
