<% @title = @assignment.name %>
<div class="page-header">
  <h1>
    <%= link_to "Assignments", assignments_path %> &middot; <%= @title %>
  </h1>
  <%= link_to "Edit Assignment", edit_assignment_path(@assignment), class: 'btn btn-xs btn-default' %>
  <%= link_to "Delete Assignment", @assignment, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Assignment #{@assignment.name}?" } %>
</div>

<dl class="dl-horizontal">
  <dt>Project</dt>
  <dd><%= link_to @assignment.project.name, @assignment.project if @assignment.project %></dd>

  <dt>List Name</dt>
  <dd><%= @assignment.list_name %></dd>

  <dt>Block Group</dt>
  <dd><%= @assignment.block_group %></dd>

  <dt>Multiplier</dt>
  <dd><%= @assignment.multiplier %></dd>

  <dt>Position</dt>
  <dd><%= @assignment.position %></dd>

  <dt>Treatment Arm</dt>
  <dd><%= @assignment.treatment_arm %></dd>

  <dt>Subject Code</dt>
  <dd><%= @assignment.subject_code %></dd>

  <dt>Randomization At</dt>
  <dd><%= @assignment.randomization_at %></dd>

</dl>
