<%= render partial: 'email_header' %>

<b>Dear <%= @user.first_name %>,</b><br />
<br />
<b><%= @assignment.subject_code %></b> was <span style="padding:5px;background-color:#5cb85c;color:white">randomized</span> to <%= @assignment.treatment_arm %> on <%= link_to @assignment.project.name, "#{ENV['website_url']}/projects/#{@assignment.project.id}", style: "color: #428bca" %> by <%= @assignment.user.name %>.<br />
<br />
<center><%= link_to "View Randomization ##{@assignment.randomization_number} of #{@assignment.project.randomization_goal}", "#{ENV['website_url']}/projects/#{@assignment.project.id}/assignments/#{@assignment.id}", style: "color: #428bca" %></center><br />


<%= render partial: 'email_footer' %>
