<div class="page-header">
  <h1><%= @title %></h1>
</div>

<%= form_for @project, html: { class: 'form-horizontal' } do |f| %>
  <% if @project.errors.any? %>
    <div id="error_explanation" class="bs-callout bs-callout-danger">
      <h4><%= pluralize(@project.errors.count, "error") %> prohibited this project from being saved</h4>

      <ul>
      <% @project.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :name, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :description, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_area :description, rows: 7, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :randomization_goal, nil, class: 'col-md-2 control-label' %>
    <div class="col-md-10">
      <%= f.text_field :randomization_goal, class: 'form-control' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Treatment Arms</label>
    <div class="col-md-10">
      <div id="treatment_arms">
        <% @project.treatment_arms.each do |arm| %>
          <%= render partial: 'treatment_arms/form', locals: { arm: arm } %>
        <% end %>
      </div>
      <%= link_to 'Add Treatment Arm', '#', data: { object: 'add_treatment_arm' }, class: 'btn btn-default btn-xs', style: 'margin-top:6px' %>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Block Size Multipliers</label>
    <div class="col-md-10">
      <div class="row">
        <% Project::BLOCK_SIZE_MULTIPLIERS.each do |multiplier| %>
          <div class="col-sm-3 col-xs-6">
            <% hash = @project.block_size_multipliers.select{|m| m[:value].to_s == multiplier.to_s}.first || { allocation: 0 } %>
            <%= hidden_field_tag "project[block_size_multipliers][][value]", multiplier %>
            <div class="input-group">
              <span class="input-group-addon multiplier_<%= multiplier %>" data-object="show-actual-block-size" data-multiplier="<%= multiplier %>">&times;<%= multiplier %></span>
              <%= text_field_tag "project[block_size_multipliers][][allocation]", hash[:allocation], class: 'form-control', placeholder: 'Allocation' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-md-2 control-label">Stratification Factors</label>
    <div class="col-md-10">
      <div id="stratification_factors">
        <% @project.stratification_factors.each do |stratum| %>
          <%= render partial: 'stratification_factors/form', locals: { stratum: stratum } %>
        <% end %>
      </div>
      <%= link_to 'Add Stratification Factor', '#', data: { object: 'add_stratification_factor' }, class: 'btn btn-default btn-xs', style: 'margin-top:6px' %>
    </div>
  </div>

  <div class="form-group">
    <div class="col-md-offset-2 col-md-10">
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= cancel %>
    </div>
  </div>
<% end %>
