<table class="table">
  <thead>
    <tr>
      <% @project.lists.each do |list| %>
        <th style="white-space:nowrap"><strong><%= list.join(', ') %></strong></th>
      <% end %>
    </tr>
  </thead>

  <tr>
    <% block_group = @project.get_block_group %>
    <% @project.lists.each do |list| %>
      <td>
        <% block_ordering = [] %>
        <% (1..@project.block_groups_per_list).each do %>
          <% block_ordering << block_group.shuffle %>
        <% end %>

        <% entry_index = 0 %>
        <% block_ordering.each do |multipliers| %>
          <div class="block-group">
            <% multipliers.each do |multiplier| %>
              <%# generated_list << { blocks: @project.get_block(multiplier).shuffle, block_index: block_index, multiplier: multiplier } %>
              <div class="multiplier multiplier_<%= multiplier %>">
                <% @project.get_block(multiplier).shuffle.each do |entry| %>
                  <% entry_index += 1 %>
                  <div class="entry"><%= entry_index %> <%= entry %></div>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      </td>
    <% end %>
  </tr>
</table>

<% if false %>
  <% block_group = @project.get_block_group %>

  <% block_ordering = [] %>
  <% (1..@project.block_groups_per_list).each do %>
    <% block_ordering << block_group.shuffle %>
  <% end %>
  <%= block_ordering %>


  <% generated_list = [] %>
  <% block_ordering.each_with_index do |multipliers, block_index| %>
    <% multipliers.each do |multiplier| %>
      <% generated_list << { blocks: @project.get_block(multiplier).shuffle, block_index: block_index, multiplier: multiplier } %>
    <% end %>
  <% end %>


  <% generated_list.each do |hash| %>
    <div><%= hash[:block_index] %> <%= hash[:blocks].size %> <%= hash[:multiplier] %> <%= hash[:blocks] %></div>
  <% end %>

<% end %>

