<%= render partial: 'contour/layouts/per_page', locals: { per_page: 40, object_count: @assignments.total_count } %>

<table class="table table-striped">
  <thead>
    <tr>
      <th style="white-space:nowrap">Randomization #</th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.subject_code', 'Subject Code') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.treatment_arm', 'Treatment Arm') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.list_name', 'List Name') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.position', 'Treatment Position') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.randomized_at', 'Randomized At') %></th>
      <th style="white-space:nowrap"><%== sort_field_helper(@order, 'assignments.user_id', 'Randomized By') %></th>
      <% if @project.editable_by?(current_user) %><th>Actions</th><% end %>
    </tr>
  </thead>

  <% @assignments.each do |assignment| %>
    <tr id="assignment_<%= assignment.id %>">
      <td><%= assignment.randomization_number %></td>
      <td><%= link_to assignment.subject_code, [@project, assignment] %></td>
      <td><%= assignment.treatment_arm %></td>
      <td><%= assignment.list_name %></td>
      <td><%= assignment.position %></td>
      <td><%= simple_time assignment.randomized_at %></td>
      <td><%= link_to assignment.user.name, assignment.user if assignment.user %></td>
      <% if @project.editable_by?(current_user) %>
        <td>
          <%= link_to "Undo Randomization", [@project, assignment], method: :delete, remote: true, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to remove subject from Assignment #{assignment.list_name}?" } unless assignment.subject_code.blank? %>
          <%#= link_to 'Edit', edit_project_assignment_path(@project, assignment), class: 'btn btn-xs btn-default' %>
          <%#= link_to 'Delete', [@project, assignment], method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Assignment #{assignment.name}?" } %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>

<div class="center"><%= paginate @assignments, theme: 'contour' %></div>
