<% @title = @project.name %>

<div class="page-header">
  <h1>
    <%= link_to "Projects", projects_path %> &middot; <%= @title %>
  </h1>
  <% if @project.editable_by?(current_user) %>
    <%= link_to "Edit Project", edit_project_path(@project), class: 'btn btn-xs btn-default' %>
    <%= link_to "Delete Project", @project, method: :delete, class: 'btn btn-xs btn-danger-inverse', data: { confirm: "Are you sure you want to delete Project #{@project.name}?" } %>
    <%= link_to "Assignments", project_assignments_path(@project), class: 'btn btn-xs btn-default' %>
  <% end %>
  <%= link_to "Randomize Subject", randomize_subject_project_path(@project), class: 'btn btn-xs btn-default' %>
  <%= link_to "Randomizations", randomizations_project_path(@project), class: 'btn btn-xs btn-default' %>
</div>

<%= simple_markdown @project.description %>

<dl class="dl-horizontal">
  <dt>Creator</dt>
  <dd><%= link_to @project.user.name, @project.user if @project.user %></dd>

  <dt>Treatment Arms</dt>
  <dd>
    <ul class="list-unstyled">
      <% @project.treatment_arms.each do |arm| %>
        <li>
          <%= arm[:name] %>
          <% if @project.editable_by?(current_user) %>&middot; <%= arm[:allocation] %><% end %>
        </li>
      <% end %>
    </ul>
  </dd>

<% if @project.editable_by?(current_user) %>
  <dt>Minimum Block Size</dt>
  <dd><%= @project.minimum_block_size %></dd>

  <dt>Block Size Multipliers</dt>
  <dd>
    <ul class="list-unstyled">
    <% @project.block_size_multipliers.each do |multiplier| %>
      <li><span style="border-width: 1px; border-style: solid" class="multiplier_<%= multiplier[:value] %>">&times;<%= multiplier[:value] %> &middot; <%= multiplier[:allocation] %></span></li>
    <% end %>
    </ul>
  </dd>

  <dt>Combined Multipliers Size</dt>
  <dd><%= @project.combined_multipliers_size %></dd>
<% end %>

  <dt>Stratification Factors</dt>
  <dd>
    <ul class="list-unstyled">
      <% @project.stratification_factors.each do |stratum| %>
        <li>
          <%= stratum[:name] %>
          <% options = (stratum[:options] || []) %>
          <% if options.size > 0 %>
            <ul>
            <% options.each do |option| %>
              <li><%= option %></li>
            <% end %>
            </ul>
          <% end %>
        </li>
      <% end %>
    </ul>
  </dd>

  <dt>Randomization Goal</dt>
  <dd><%= @project.randomization_goal %></dd>

<% if @project.editable_by?(current_user) %>
  <dt>Number of Lists</dt>
  <dd><%= @project.number_of_lists %></dd>
<% end %>

  <dt>Lists</dt>
  <dd>
    <% if @project.number_of_lists > Project::MAX_LISTS %>
      <div class="alert alert-danger">You have exceeded <b><%= Project::MAX_LISTS %></b> lists. Consider reducing the number of stratification factors.</div>
    <% else %>
      <ul class="list-unstyled">
        <% @project.lists.each do |list| %>
          <li><%= list.join(', ') %></li>
        <% end %>
      </ul>
    <% end %>
  </dd>
</dl>

<% if @project.editable_by?(current_user) %>
  <div id="generated_lists">
    <%= render partial: 'existing_lists' %>
  </div>
<% else %>
  <%= render partial: 'existing_short_lists' %>
<% end %>

<% if @project.editable_by?(current_user) %>
  <div class="page-header">
    <h2>Sharing</h2>
  </div>

  <div class="row">
    <% ['editors', 'viewers'].each do |relation, editor| %>
      <div class="col-md-6">
        <% @relation = relation; @editor = editor %>
        <p>
          <div id="<%= @relation %>_list"><%= render partial: 'project_users/index' %></div>
        </p>
      </div>
    <% end %>
  </div>
<% end %>
